h1 {
    margin-bottom: 100px;
}

#carousel {
    height: 600px;
    width: 1000px;
    position: relative;
}

#caorusel .gallery {
    height: 100%;
}

#carousel img {
    padding: 0;
    height: 600px;
    width: 1000px;
    object-fit: cover;
    display: none;
    border-radius: 10px;
}

#carousel img.active {
    display: block;
}

#carousel i {
    font-size: 2rem;
    position: absolute;
    right: -18%;
    cursor: pointer;
}

#next {
    bottom: -10%;
}

#next:hover {
    scale: 1.1
}

#next:active {
    scale: 1
}

#prev {
    top: -10%;
}

#prev:hover {
    scale: 1.1
}

#prev:active {
    scale: 1
}


#thumbnail {
    height: 600px;
    width: 300px;
}

#thumbnail img {
    height: calc(600px / 5);
    width: 300px;
    object-fit: cover;
    filter: grayscale(80%);
    cursor: pointer;
}

#thumbnail img:hover {
    filter: contrast(110%);
}

#thumbnail img:first-child {
    border-radius: 10px 10px 0 0;
}

#thumbnail img:last-child {
    border-radius: 0 0 10px 10px;
}

#thumbnail img.active {
    filter: grayscale(0);
    border: 5px solid black;
}
